.sliderBox{
  width: 150px;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    width: 100%;
    height: 50px;
    background: deepskyblue;
    color: #333;
    &:nth-child(2n) {
      margin-top: 3px;
      margin-bottom: 3px;
    }
    font-size: 18px;
    text-align: center;
    line-height: 50px;
  }
  .activeBox{
    color: #ffffff;
  }
}
.mainRight {
  margin-left: 15px;
  width: 100%;
  background: #ffffff;
  height: 100%;
  padding: 10px;
  .silderCon {
    //display: none;
    width: 100%;
    height: 100%;
  }
}
.pageBox {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mengban {
  position: absolute;
  top: 0 ;
  left: 0 ;
  bottom: 0 ;
  right: 0 ;
  margin : 0 auto;
  background: rgba(0, 0, 0, .3);
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mingDialog {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .3);
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}





































